* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .roomContainer {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('assets/background.png');
  }
  
  .player {
    width: 150px;
    height: 150px;
    background-image: url('assets/personagem3.gif');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    /* background-color: red; */
    /* transition: all 0.3s; */
  }

  .barreira{
    /* background: red; */
    width: 100vw;
    height: 45%;
  }
  
  .greenBox {
    position: absolute;
  }
  